@charset "UTF-8";
#navigation {
    margin-top: 35px;
    align-items: center;
    margin-bottom: 50px;
}
ul {
        list-style-type: none;
        margin: 0;
    padding: 20px;
    margin-left: 40px;
    } 
li {
    display: inline;
    padding-left: 80px;
    font-size: 20px;
}
a:link {
  color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
#contact{
    background-color: #000099;
    border-radius: 10px;
    shape-margin: 0px;
    font-size: 15px;
    color: aliceblue;
    padding: 12px;
    text-align: center;
    font-size:18px;
    font-family: sans-serif;

}
#links1{
    text-decoration: none;
}
#p1{
   margin-left: 60PX;
    font-family: serif;
    font-size: 20PX;
  margin-right: 650px;
    margin-bottom: 50px;
}
#h1{
    font-family: serif;
    font-size: 50px;
    display: inline;
    margin-left: 60px;
margin-bottom: 50px;
    color: #002699;
}
#section2{
    margin-top: 50px;
}
#section3{
    margin-top: 100px;
}
#img2{
    float: right;
    margin-right: 50px;
    margin-top: -20px;
}
#contact2{
    margin-top: 120px;
    background-color: #ff1a8c;
    border-radius: 10px;
    font-size: 15px;
    color: aliceblue;
    padding:10px;
   text-align: center;
    font-size:18px;
    font-family: sans-serif;
    margin-left: 150px;
    text-decoration: none;
    animation: none;
    margin-bottom: 50px;
    shape-margin: 60px;
 
}
#p2{
    align-content: center;
    margin-left: 300px;
    font-family: serif;
font-size:50px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: 100px;
}
#table1{
    margin-left: 0px;
    padding: 0px;
    margin-top:-10px;
    border-color: white;
}
#link{
  
    font-size: 25px;
    align-content: center;
}
#link2{
   
    font-size: 25px;
    align-content: center;
}
#p3{
    margin-top: -75px;
    margin-left: 260px;
}
a:link {
  color: #4B0082;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: #D3D3D3;
}

/* selected link */
a:active {
  color: blue;
}
#img3{
    float: left;
    
    margin-top: -10px;
   margin-right: 50px;
}
#h2{
    font-family: serif;
    font-size: 50px;
    display: inline;
    margin-left: 0px;
    margin-bottom: 50px;
    color: #002699;
}

#h4{
    align-content: center;
    margin-left: 420px;
    font-family: serif;
    font-size:50px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: -10px;
}
#h3{
    align-content: center;
    margin-left: 330px;
    font-family: serif;
font-size:50px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: 20px;
} 
#div3{
    margin-left: 100px;
    margin-top: 100px;
}
#div4{
      margin-top: -100px;
    margin-left: 700px;
}
#img4{
    float: left;
    margin-right: 50px;
   
  
}
#div5{
    margin-left: 110px;
    margin-top: 50px;
}
#img5{
    
    float: left;
    margin-right: 40px;
    
}
#div6{
    
    margin-left: 700px;
    margin-top: -100px;
}
#img6{
    float: left;
    margin-right: 50px;
}
#h5{
    color: #002699;
    font-style: oblique;
}
#p6{
    margin-left: 360px;
    font-family: serif;
    font-size:50px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: 150PX;
}
#p7{
    margin-left: 450px;
    font-family: serif;
    font-size:50px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: -10px;
}
#table3{
    margin-left: 0px;
    padding: 0px;
    margin-top:-10px;
    border-color: white;
}
#table4{
    
}
#link2{
   
    font-size: 35px;
    margin-left: 50px;
    font-style: normal;
}
#link{
    margin-left: 50px;
    font-size: 35px;
    font-style: normal;
}
#p8{
    margin-left: 430px;
    font-family: serif;
    font-size:60px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: 120PX;
}
#p9{
    margin-left: 480px;
    font-family: serif;
    font-size:60px;
    text-emphasis-position: below;
    color: #002699;
    margin-top: -20px;
}
#h10{
    background-color: white;
    border-radius: 10px;
    padding: 65px;
    font-size:35px;
    font-family: sans-serif;
    color: #002699;
    margin-left: -20px;
    margin-top: -10px;
}
#h11{
    margin-top: -100px;
}
#h12{
    margin-left: 20px;
}
#h13{
    margin-top: -110px;
    margin-left: 360px;
}
#h14{
    background-color: white;
    border-radius: 10px;
    padding: 65px;
    font-size:35px;
    font-family: sans-serif;
    color: #002699;
    margin-left: -20px;
    margin-top: -10px;
}
#h16{
     margin-top: -110px;
    margin-left: 690px;
}
#h17{
     background-color: white;
    border-radius: 10px;
    padding: 65px;
    font-size:35px;
    font-family: sans-serif;
    color: #002699;
    margin-left: -20px;
    margin-top: -10px;
}
#h19{
     margin-top: -110px;
    margin-left: 1020px;
}
#h20{
    background-color: white;
    border-radius: 10px;
    padding: 65px;
    font-size:35px;
    font-family: sans-serif;
    color: #002699;
    margin-left: -20px;
    margin-top: -10px;
}
#mq{
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 50px;
}
#link6{
    font-size: 30px;
    color:#002699; 
}
#div8{
    background-color:hotpink;
    margin-top: 100px;
    padding: 50px;
    border-radius: 15px;
    margin-right: 180px;
    margin-left: 150px;
}
#button4{
    margin-left: 660px;
    padding: 15px;
    border-radius: 10px;font-size: 20px;
}
#pic{
    color: snow;
    border-top: -10px;
}
#table5{
    margin-left: 20px;
    margin-top: 50px;
}
#div10{
    margin-top: 170px;
    margin-left: 100px;
}
#div11{
    margin-top: -220px;
    margin-left: 300px;
}
#div12{
    margin-top: -250px;
    margin-left: 330px;
}
#div13{
    margin-top: -220px;
    margin-left: 300px;
}
#footerp6{
    margin-top: 120px;
    margin-left: 400px;
}