#header{
    background-color: #3B5998;
    height: 18%;
    width: 100%;
    font-family: sans-serif;
    padding: 0px;
}
#h1{
    margin-left: 100px;
    font-family: monospace;
    font-size: 70px;
    position: absolute;
    margin-top: -40px;
    color: white;
}

#username{
    left:695px;
   position: fixed;
    color: white;
    margin-top: 40px;
}
#password{
    margin-top: 40px;
    left:900px;
    position: absolute;
    color: white;
}
#text1{
    position: absolute;
    margin-left: 687px;
    margin-top: 65px;
    border: 0px;
}
#text2{
    position: absolute;
    margin-left: 892px;
    margin-top: 65px;
    border: 0px;
    
}
#link{
margin-left: 950px;
    margin-top: 120px;
    color: lightblue;
    text-decoration: none;
    font-size: 15px;
    
}
#button{
    margin-left: 1090px;
    height: 18px;
    width: 55px;
    margin-top: 64px;
    background-color:#577EBC;
    border: 0px;
    color: white;
}
#div{margin-top: 50px;
    margin-left: 180px;
}
#connect{
    font-size: 25px;
}
#div2{
    margin-left: 760px;
    margin-top: -450px;
    
}
#h2{
    font-size: 50px;
}
#p1{
 font-size: 25px;
    margin-top: -20px;
}
#email{
    display: block;
}
#p3{
    font-size: 12px;
}
#button3{
    background-color:#6CA851;
    border: 0px;
    padding: 5px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
}